PragmaticJavaAdvancedHomeWork/resources/students.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="education">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="people">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="teacher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="discipline">
                      <xs:annotation>
                        <xs:documentation>taught discipline</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="students">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:byte" name="age" use="optional"/>
                            <xs:attribute type="xs:string" name="group" use="optional"/>
                            <xs:attribute type="xs:string" name="sex" use="optional"/>
                            <xs:attribute type="xs:float" name="mark" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="duration"/>
    </xs:complexType>
  </xs:element>
</xs:schema>